@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
/*font-family: 'Aladin', cursive;*/

* {
    margin: 0%;
    padding: 0%;
}


body {
    background-color: rgb(35, 35, 156);
}

.navbar {
    background:rgb(86, 86, 194);
    height: 50px;
    width: 100%;
    position: fixed;
}

.logo {
    line-height:50px;
    padding-left:20px;
    font-size:30px;
    font-family: 'Aladin', cursive;
    color: aliceblue;
}

.navbtn{
    height:40px;
    width:40px;
    background-color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    position:fixed;
    top:2px;
    right:5px;
    border-radius:4px;
    border:3px solid #6F1E51;
    transition:all 0.5s;
    cursor: pointer;
}

.btnsym {
    height:4px;
    width:30px;
    background-color:#6F1E51;
    border-radius:4px;
    transition:all 0.5s;
}

.btnsym::before,
.btnsym::after {
    content:'';
    height:4px;
    width:30px;
    background-color:#6F1E51;
    border-radius:4px;
    position:absolute;
    transition:all 0.5s;
}

.btnsym::before {
    transform:translateY(-10px);
}

.btnsym::after {
    transform:translateY(10px);
}

.navopn .btnsym::before {
    transform:rotate(45deg);
}

.navopn .btnsym::after {
    transform:rotate(-45deg);
}

.navopn .btnsym{
    background:transparent;
}

.navmenu {
    position:fixed;
    right:-60%;
    top:50px;
    width:60%;
    height:300px;
    background-color:white;
    border-radius:5px;
    transition-duration:.5s;
    list-style: none;
    cursor: pointer;
    text-align: center;
}

nav ul li {
    display: block;
    padding: 10px 0px;
    line-height: 30px;
}
nav ul li a {
    font-size: 20px;
    text-decoration: none;
}

a:hover,a.active {
    background: none;
    color: #0082e6;
}

.bg {
    position: fixed;
    background: url('https://cdn.discordapp.com/attachments/758660467190267955/773497892110467082/44753.jpg');
    width: 100%;
    height:  100vh;
    background-size: cover;
    background-position: center;
    z-index: -10;
}


/*Making responsive*/
@media (min-width: 752px) {

    .navbar {
        height: 80px;
        display: flex;
        position: static;
    }

    .logo {
        line-height:80px;
        padding: 0px 40px;
        font-size:50px;
        width: auto;
        font-family: 'Aladin', cursive;
    }

    .navbtn {
        display: none;
    }

    .navmenu {
        position: static;
        height:80px;
        width: auto ;
        margin-right: auto;
        display: flex;
    }

    nav ul li {
        display: block;
        padding: 0px 20px;
        line-height: 80px;
    }

    nav ul li a {
        font-size: 30px;
    }

    .bg {
        position: fixed;
        background: url('https://cdn.discordapp.com/attachments/758660467190267955/773497892110467082/44753.jpg');
        width: 100%;
        height:  100vh;
        background-size: cover;
        background-position: center;
    }

}

